@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }
  

@font-face {
    font-family: Playfair;
    src: url("/Playfair.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("/Montserrat.ttf");
}

body{
    background-color: #262B46;
    color :whitesmoke;
    font-family: Playfair;
}

p, input, button{
    font-family: Montserrat;
}